<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <style>
        @font-face {
            font-family: 'Comic Sans';
            src: url("{% static 'fonts/COMICSANS.TTF' %}") format('truetype');
        }
        @font-face {
            font-family: 'Blueberry';
            src: url("{% static 'fonts/Blueberry .ttf' %}") format('truetype');
        }
    </style>
</head>
<body>
    <h3 class="change-password-title">Change Password</h3>
    <form method="POST" action="{% url 'change_password' %}">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button class="profile-save-btn" type="submit">Submit</button>
    </form>
</body>
</html>